<div class="flex-container">
  <div class="flex-item">
    <h4>{{product.name | uppercase}}</h4>
    <div>
      <span>id: </span>
      <span>{{product.id}}</span>
    </div>
    <div>
      <span>description: </span>
      <span>{{product.description}}</span>
    </div>
    <div>
      <span>cost: </span>
      <span>{{product.cost | currency}}</span>
    </div>
  </div>

  <div class="flex-item">
    <img src="{{product.image}}" />
  </div>

  <div class="flex-item">
    <label
      >Name:
      <input [(ngModel)]="currentName" placeholder="currentName" />
    </label>

    <button (click)="onApplyNewName(currentName)">
      Apply
    </button>
  </div>
</div>
